@font-face {
    font-family: 'Manusquared';
    src: url('Manusquared-Regular.woff2') format('woff2'),
        url('Manusquared-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manusquared';
    src: url('Manusquared-Bold.woff2') format('woff2'),
        url('Manusquared-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* ------STTYLE------ */

body{
  margin: 0;
  padding: 0;
  top: 0;
  font-family:'Manusquared' ;
}
section{
  padding: 80px;
  min-height: 100vh;
  position: relative;
}
h1{
    font-weight: normal;
    font-size: 10vw;
    display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  font-weight: normal;
  text-align: center;
  font-size: 4em;
  margin: 400px 0;
}
h3{
  font-weight: normal;
  font-size: 80px;
}
p{
  margin: 30px 0;
}
#intro{
  text-align: center;
}
#intro p{
  font-size: 40px;
  hyphens: auto;
}
a{
  text-decoration: none;
  color: #52137a;
}
#text p{
  font-size: 40px;
  height: auto;
}
#text p:nth-child(3n){
  font-size: 30px
}
#text p:nth-child(4n){
  font-size: 20px;
}
#text p:nth-child(5n){
  font-size: 14px;
}
span{
  margin-top: 30px;
  font-size: 14px;
  display: table;
  border-bottom: 1px solid;
}

.bold, b{
  font-weight: bold !important;
}
.colonne{
  display: grid;
  grid-template-columns: repeat(2, 44vw);
  grid-gap: 60px;
}

.ligne{
  display: grid;
  grid-template-rows: 350px repeat(3, auto);
}
#abc{
  display: grid;
  grid-template-columns: repeat(2, 44vw);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 60px;
}

#abc p{
  font-size: 80px;
  overflow-wrap: break-word;
}

#credits button{
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 80px;
  background-color: #52137a;
  border: none;
  padding: 6px 0 6px 0;
  border-radius:  1em;
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
button a{
  font-family: 'Manusquared';
  font-weight: bold;
  color: white;
  font-size: 30px;
}
#credits p{
  font-size: 30px;
  text-align: center;

}

@media screen and (max-width:900px) {
  h1,h2,h3,p{
    hyphens: auto;
  }
  .colonne, #abc{
    grid-template-columns: 80vw;
  }
  .ligne{
    grid-template-rows: auto;
  }
}
