@font-face {
    font-family: 'Manusquared';
    src: url('Manusquared-Regular.woff2') format('woff2'),
        url('Manusquared-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manusquared';
    src: url('Manusquared-Bold.woff2') format('woff2'),
        url('Manusquared-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

